<li id="stampbook-<%= stampbook.id %>">
    <span class="stampbook-name"><%= stampbook.name %></span>
    <span class="stampbook-name"><%= image_tag stampbook.cover.to_s, size: "300x200" %></span>
</li>