<% provide(:title, "神社・寺院検索") %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="map-page">
        <h2>現在地周辺の神社・寺院</h2>
        <p>円内は現在地から半径500m以内の神社・寺院です</p>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var map;
  var infowindow;

  function getLocation() {
    if (navigator.geolocation) {
      // 現在地の取得
      navigator.geolocation.getCurrentPosition(
        function(position) {
          // 現在地の緯度経度
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;
          alert('緯度：' + latitude + ' / 経度：' + longitude);
          var latlng = new google.maps.LatLng(latitude, longitude);
          var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: latlng,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
            zoomControl: true,
          };
          map = new google.maps.Map(document.getElementById('map'), mapOptions);

          // 現在地を中心にマップに円を描く
          var circleOptions = {
            map: map,
            center: new google.maps.LatLng(latitude, longitude),
            radius: 500,
            strokeColor: "#009933",
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: "#00ffcc",
            fillOpacity: 0.35
          };
          circle = new google.maps.Circle(circleOptions);

          // 現在地から500m以内の神社・寺院を検索
          infowindow = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);
          service.textSearch({
            location: latlng,
            radius: 500,
            query: '神社 || 寺院',
          }, callback);
        },
        function(error) {
          // 失敗時の処理
          var errorMessage = {
            0: "原因不明のエラーが発生しました。",
            1: "位置情報の取得が許可されませんでした。",
            2: "電波状況などで位置情報が取得できませんでした。",
            3: "位置情報の取得に時間がかかり過ぎてタイムアウトしました。"
          };
          alert(errorMessage[error.code]);
        }, {
          "enableHighAccuracy": false,
          "timeout": 8000,
          "maximumAge": 2000,
        });

    } else {
      var errorMessage = "お使いの端末は、GeoLocation APIに対応していません。";
      alert(errorMessage);
    }
  }

  // 地図上にマーカーをプロット
  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }
  // 地図上のマーカーをクリックした際の動作
  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });
    // 吹き出しの中身
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent('<div><strong>' + place.name + '</strong></div>');
      infowindow.open(map, this);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzU4sCnVX4EnEbJDMuXnbiEQl3j5DyqT0&language=ja&libraries=drawing,geometry,places,visualization&callback=getLocation" async defer></script>