<div class="row d-flex justify-content-center">
  <% stamps.each do |stamp| %>
  <div class="stamps col-sm-6">
    <div class="card w-75">
      <div class="card-header">
        <%= link_to stamp.name, stamp %>
      </div>
      <div class="stamp text-center">
        <%= image_tag stamp.photo.to_s, class: "card-img-top" %>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate stamps %>
</div>