@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

$default-C:#58495d;
$active-C:#e9adca;
$default-bg:#f2e1e6;
$accent-C: #dd4827;

body {
  display: block;
  padding-top: 55px;
  // margin-top: 100px;
}

.aside {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: $active-C;
  text-align: center;
}

section {
  padding: 10px;
  overflow: auto;
}

textarea {
  resize: vertical;
}

.h1 {
  font-size: 1.7em;
  font-weight: bold;
}

a {
  color: $default-C;
  &:hover {
    color: $default-bg;
  }
}

ol {
  list-style: none;
}

.hidden {
  display: none;
}

.main-contents {
  margin: 100px 0;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* form */

input[type="radio"],input[type="checkbox"]{
  position: relative;
  top: 2px;
}

.form-check-label {
  margin-right: 1em;
}

/* Table */

table {
  width: 100%;
}

td,th {
  border: none;
  padding: 5px;
  border-bottom: 1px solid $default-bg;
}


/* flash */
#flash {
  color: #343a40;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  background-color: $active-C;
  padding: 10px 0;
  .notice {
    padding: -10px 0;
    background-color: $default-bg;
  }
  .alert {
    padding: -10px 0;
    background-color: red;
  }
  .success {
    padding: -10px 0;
    background-color: #70b9b0;
  }
}

/* アカウント情報 */

.circle-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-header > h2 {
  color: darkgray;
}

.bg-secondary-extend {
  background-color: $default-bg;
}

/* Users index */

.users {
  list-style: none;
  // margin: 0;
  li {
    // overflow: auto;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $default-bg;
  }
}

/* user_info */

.user-info {
  color: $default-C;
}

.avatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  margin: 0　auto;
  padding: 5px 0;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 10px;
    &:hover {
      text-decoration: none;
      color: $default-bg;
    }
  }
  strong {
    display: block;
  }
}

.owners {
  overflow: auto;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 30px;
    &:hover {
      text-decoration: none;
      color: $default-bg;
    }
  }
  strong {
    display: block;
    color: $default-C;
  }
}

/* User Show */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $default-bg;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .like-count, .timestamp {
    display: block;
    margin-left: 60px;
  }
  .unlike-btn {
    color: #e9adca;
  }
}

/* Stampbooks, Stamps */

.stampbooks, .stamps {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid $default-bg;
  }
}



/* Stampbooks */

.top-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.top-content {
  display: block;
}

.top-icon {
  margin: 10px;
  a {
    display: block;
  }
}


.stampbook-cover img {
  margin: 5px;
  width: 100%;
  height: auto;
  border: 5px solid $default-C;
  border-radius: 5px;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 5px $default-C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  text-align: center;
}
 
#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 300px;
  transition: 0.3s ease-out;
}
 
#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -100px;
  right: 15px;
}
 
#img_field:hover {
  background-color: $default-bg;
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.stampbook-color {
  color: $default-C;
}

.stampbook-name {
  font-size: 1.5em;
  font-weight: bold;
  color: $default-C;
}

/* Stamps */

.stamp-photo img {
  margin: 5px;
  width: 70%;
  height: auto;
  border: 5px solid $default-C;
  border-radius: 5px;
}

.stamp-color {
  color: #DD4827;
}

.stamp-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #DD4827;
}

#img_photo {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 5px $default-C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  text-align: center;
}
 
#img_photo i {
  font-size: 100px;
  color: #aaa;
  line-height: 300px;
  transition: 0.3s ease-out;
}
 
#img_photo i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -100px;
  right: 15px;
}
 
#img_photo:hover {
  background-color: $default-bg;
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#img_photo:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}